.topcontainer{
	height:800px;
	background-color:darkred;
}

.pic1{
	background-image: url("project1.PNG");
}
.pic2{
	background-image: url("project2.PNG");
}
.pic1, .pic2{
	width:200px;
	height:200px;
	display:inline-block;
	background-size:100% 100%;
}